@import 'variables/base';
@import '_include-media';

ul {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  height: 320px;
  width: 100%;

  @include media('>500px') {
    width: 50%;
  }

  @include media('>sm') {
    width: 33.333%;
  }

  @include media('>md') {
    width: 33.333%;
  }

  @include media('>lg') {
    width: 25%;
  }

  @include media('>xl') {
    width: 20%;
  }

  ::ng-deep nw-news-card {
    height: 100%;
  }
}
