@import 'variables/base';

* {
  box-sizing: border-box;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  color: $black;
  font-family: $roboto;
  margin: 0;
  scroll-behavior: smooth;
}

html {
  font-size: 1rem;
}

img {
  display: block;
  max-width: 100%;
}
