@import 'variables/base';

:host {
  background-color: map-get($grey, 40);
  display: block;
  transition: background 1.2s ease-out;

  &:hover {
    background-color: map-get($grey, 80);
  }
}

.content {
  color: $black;
  display: flex;
  flex-direction: column;
  font-family: $roboto;
  height: 100%;
  overflow: hidden;
  padding: 40px;
  position: relative;
  text-decoration: none;
  z-index: 3;

  :host.is-featured & {
    color: $white;
  }
}

.spacer {
  flex-grow: 1;
}

.number {
  font-family: $alfa;
  font-size: 12px;
  letter-spacing: .8px;
}

.date {
  font-size: 12px;
  font-weight: 400;
  margin: 14px 0;
}

h4 {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: .5px;
  line-height: 32px;
  margin: 0;

  :host.is-featured & {
    font-family: $heebo;
    font-size: 26px;
    font-weight: 800;
    line-height: 38px;
    text-transform: uppercase;
  }
}

.arrow {
  height: 0;
  opacity: .8;
  overflow: hidden;
  transition: height .3s ease;
  width: 32px;

  svg {
    fill: $white;
    margin: 15px 0 0;
  }
}

.featured-image-overlay {
  background-color: $black;
  height: 100%;
  left: 0;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: opacity .3s ease;
  width: 100%;
  z-index: 2;
}

.featured-image {
  background-position: center;
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

:host:hover {
  .featured-image-overlay {
    opacity: .65;
  }

  .arrow {
    height: 30px;
  }
}
