<a [routerLink]="'/article/' + content.slug"
   title="View article"
   class="content">
  <span class="number">{{ index + 1 | number:'2.0-0' }}</span>
  <span class="date">
    {{ content.datePublished | date: 'dd MMMM y'}}
  </span>

  <!-- Fills all remaining space. -->
  <span class="spacer"></span>

  <h4>{{ content.title }}</h4>

  <div *ngIf="isFeatured" class="arrow">
    <svg class="icon" role="img" width="32px" height="15">
      <use xlink:href="#scroll-arrow"></use>
    </svg>
  </div>
</a>

<div *ngIf="isFeatured" class="featured-image-overlay"></div>
<div *ngIf="isFeatured"
     [style.background-image]="'url(' + content.image + ')'"
     class="featured-image"></div>
