@import 'variables/base';
@import '_include-media';

nw-featured-news {
  display: block;
  height: 400px;
  position: relative;
  width: 100%;

  @include media('>md') {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 25vw;
  }
}

nw-news-card-list {
  display: block;

  @include media('>md') {
    margin-left: 25vw;
  }
}
