<ul *ngIf="cards.length" [@fadeInAll]>
  <ng-container *ngFor="let card of cards; let index = index">
    <li *ngIf="index === getCurrentSlide()"
        [@cardInAnimation]
        [@cardOutAnimation]>
      <nw-news-card [content]="card" [isFeatured]="true"></nw-news-card>
  </ng-container>
</ul>
