@import 'variables/base';

:host {
  background-color: $black;
  display: block;
  font-family: $roboto;
  overflow: hidden;
}

ul {
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

li {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

nw-news-card {
  height: 100%;
  width: 100%;
}
