@import 'variables/base';
@import '_include-media';

:host {
  background-color: map-get($grey, 40);
  display: block;
}

.container {
  margin: 0 auto;
  max-width: 1780px;
  overflow: hidden;
  padding: 90px 48px;
  position: relative;
}

.back-button {
  background-color: $black;
  cursor: pointer;
  display: inline-block;
  padding: 20px 15px;
  position: fixed;
  top: 0;
  z-index: 2;

  svg {
    fill: $white;
    display: block;
    transform: rotate(180deg) translateX(0);
    transition: transform .3s ease;
  }

  &:hover svg {
    transform: rotate(180deg) translateX(-3px);
  }
}

.left {
  left: 0;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1;

  .wrapper {
    padding: 0 40px;
    width: 100%;
  }

  @include media('>lg') {
    position: fixed;
    width: 100%;

    .wrapper {
      width: 50%;
    }
  }
}

.right {
  padding: 0 40px;
  width: 100%;

  @include media('>lg') {
    float: right;
    width: 50%;
  }
}

h1 {
  font-family: $heebo;
  font-size: 60px;
  letter-spacing: .8px;
  line-height: 82px;
  margin: 0 0 100px;
  text-transform: uppercase;
}

.content ::ng-deep {
  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  ul,
  p {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: .3px;
    line-height: 30px;
    margin: 15px 0;
  }

  .block {
    margin-bottom: 90px;
  }

  .element-pullquote,
  .quoted {
    margin: 50px 0;
    padding: 0 48px;
    position: relative;

    &::before {
      background-color: $black;
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      width: 5px;
    }

    blockquote {
      margin: 0;
    }
  }

  .element-image {
    margin: 70px 0;

    img {
      margin: 0 0 20px;
    }

    figcaption {
      font-size: 12px;
      font-weight: 300;
    }
  }

  a {
    color: #00a9ff;
    text-decoration: none;
  }

  .updated-time {
    font-size: 13px;
    font-weight: 400;
  }

  .published-time time {
    background-color: $black;
    color: $white;
    font-size: 13px;
    font-weight: 400;
    padding: 5px 10px;
  }

  img {
    height: auto;
  }
}

p {
  font-family: $roboto;
}
