<div *ngIf="content && content.body">
  <div [@backButtonIn] routerLink="/" title="Go home!" class="back-button">
    <svg class="icon" role="img" width="32px" height="20px">
      <use xlink:href="#scroll-arrow"></use>
    </svg>
  </div>

  <div class="left">
    <div class="container">
      <div class="wrapper">
        <h1 [@titleIn]>{{ content.title }}</h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div [@contentIn] class="right">
      <div [innerHtml]="content.body | safeHtml" class="content">
      </div>
    </div>
  </div>
</div>
